<div tabindex="-1" role="dialog" aria-modal="true" class="webform-confirmation-modal ui-dialog ui-corner-all ui-widget ui-widget-content ui-front" aria-describedby="webform-confirmation-content" aria-labelledby="webform-confirmation-title">
  <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
    <h1 id="webform-confirmation-title" class="ui-dialog-title">{{ title|default('Thank You') }}</h1>
    <button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
      <span class="ui-button-icon ui-icon ui-icon-closethick"></span>
      <span class="ui-button-icon-space"> </span>
      Close
    </button>
  </div>
  <div class="webform-confirmation-modal--content ui-dialog-content ui-widget-content" id="webform-confirmation-content">
    <p>{{ content|default('Thank you for contacting us. We have received your message and will get back with you soon.') }}</p>
  </div>
</div>
