{# This is out of date! Look at views-view.html.twig and views-view-unformatted.html.twig for a better version. #}

<div class="view-content view-snap hide-scrollbar-x hg:sm:container hg:grid hg:overflow-x-auto hg:snap-x hg:snap-mandatory hg:gap-6 hg:lg:gap-8 hg:grid-cols-[272px_248px_272px] hg:sm:grid-cols-3 hg:sm:overflow-x-visible hg:sm:snap-none hg:sm:mx-auto hg:sm:px-6">
  {{ rows }}
</div>
